{% extends "layouts/dashboard/base.html" %}
{% load static %}

{% block title %}Editar usuario{% endblock %}

{% block dashboard_header_title %}Editar usuario{% endblock %}

{% block dashboard_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'users/css/pages/admin_user_edit.css' %}">
{% endblock %}

{% block dashboard_content %}
  {% include "users/partials/admin/user_edit_content.html" %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'users/js/pages/admin_user_edit.js' %}"></script>
{% endblock %}
