{% extends "layouts/dashboard/base.html" %}
{% load static %}

{% block title %}Usuarios del sistema{% endblock %}

{% block dashboard_header_title %}Portal de administración{% endblock %}

{% block dashboard_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/components/data_table.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/pages/admin_users.css' %}">
{% endblock %}

{% block dashboard_content %}
  {% include "users/partials/admin/user_list_content.html" %}
{% endblock %}
