{% extends "layouts/dashboard/base.html" %}
{% load static %}

{% block title %}Gestión de Usuarios{% endblock %}

{% block dashboard_header_title %}Portal de administración{% endblock %}

{% block dashboard_content_class %}dash-content--wide admin-users-content{% endblock %}

{% block dashboard_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/components/data_table.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/pages/admin_users.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/pages/admin_user_create.css' %}">
{% endblock %}

{% block dashboard_content %}
  {% include "users/partials/admin/user_list_content.html" %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'users/js/pages/admin_user_create.js' %}"></script>
{% endblock %}
