{% extends "layouts/dashboard_base.html" %}
{% load static %}

{% block title %}Historial de exportaciones{% endblock %}

{% block dashboard_header_title %}Historial de exportaciones{% endblock %}

{% block dashboard_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/components/data_table.css' %}">
  <link rel="stylesheet" href="{% static 'audit/css/pages/export_history.css' %}">
{% endblock %}

{% block dashboard_content %}
  {% include "audit/partials/export_history/content.html" %}
{% endblock %}
