{% extends "layouts/dashboard_base.html" %}
{% load static %}

{% block title %}{{ requests_page_title|default:"Solicitudes" }}{% endblock %}

{% block dashboard_header_title %}{{ requests_page_title|default:"Solicitudes" }}{% endblock %}

{% block dashboard_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/components/data_table.css' %}">
  <link rel="stylesheet" href="{% static 'vacations/css/pages/requests_management.css' %}">
{% endblock %}

{% block dashboard_content %}
  {% include "vacations/partials/requests_management/content.html" %}
{% endblock %}
