{% extends "layouts/dashboard_base.html" %}
{% load static %}

{% block title %}Revisar solicitud{% endblock %}

{% block dashboard_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vacations/css/pages/review_request.css' %}">
{% endblock %}

{% block dashboard_content %}
  {% include "vacations/partials/review_request/content.html" %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'vacations/js/pages/review_request.js' %}"></script>
{% endblock %}
